    <header class="bar bar-nav">
      <a class="logo pull-left"></a>
      <h1 class="title">{{getTitle()}}</h1>
    </header>

    <section id="list_languages" class="content">      
      <div>
        <ul class="table-view" ng-repeat="result in countingResults">
          <li class="table-view-cell media">
            <a class="navigate-right" ng-click="setLanguage(result.locale)">
              <span class="badge">{{result.count}}</span>
              <img ng-src="img/M4T_Flag_{{result.locale}}.png" class="pull-left" width="50" height="50">
              <div class="media-body">
                {{getLocaleHumanized(result.locale)}}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- main container end -->
