    <header class="bar bar-nav">
      <a class="logo pull-left"></a>
      <h1 class="title">Choose the language</h1>
    </header>

    <section id="list_languages" class="content">
      <div class="card">
        <ul class="table-view">
          <li class="table-view-cell media">
            <a class="navigate-right" ng-click="setLanguage('EN')">
              <span class="media-object pull-left icon icon-gear"></span>
              <div class="media-body">
                English
              </div>
            </a>
          </li>
          <li class="table-view-cell media">
            <a class="navigate-right" ng-click="setLanguage('ES')">
              <span class="media-object pull-left icon icon-gear"></span>
              <div class="media-body">
                Español
              </div>
            </a>
          </li>
          <li class="table-view-cell media">
            <a class="navigate-right" ng-click="setLanguage('PT-BR')">
              <span class="media-object pull-left icon icon-gear"></span>
              <div class="media-body">
                Português
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- main container end -->
