    <header class="bar bar-nav">
      <button class="btn btn-link btn-nav pull-left" ng-click="back()">
        <span class="icon icon-left-nav"></span>
      </button>
      <a class="logo pull-left"></a>
      <h1 class="title">{{getTitle()}}</h1>
      <div class="pull-right">
        <a class="icon icon-search" ng-click="goSearch()"></a>
        &nbsp;
        <button class="btn btn-link btn-nav" ng-click="goMap()">
          {{getMapText()}}
        </button>
      </div>
    </header>

    <!-- Filters in standard bar fixed below top bar (header) -->
    <!-- <nav class="bar bar-standard bar-header-secondary">
      <button class="btn btn-link btn-nav pull-left" ng-click="refresh()">
        <span class="icon icon-refresh"></span>
        {{getRefreshText()}}
      </button>
      <button class="btn filtro">
        {{getSpecialtyText()}}
      </button>
      <button class="btn btn-link btn-nav pull-right" ng-click="goMap()">
        {{getMapText()}}
        <span class="icon icon-google-maps"></span>
      </button>
    </nav> -->

    <section id="list_places" class="content">
      <ul class="table-view">
        <li class="table-view-cell media" ng-repeat="restaurant in restaurants">
          <a class="navigate-right" ng-click="goDetails(restaurant)">
            <img class="media-object pull-left" ng-src="img/{{removerAcentos(restaurant.name)}}.jpg" width="75" height="60">
            <div class="media-body">
              {{restaurant.name}}
              <p>{{restaurant.specialty}}</p>
              <p>
                <span class="icon icon-google-maps"></span>
                {{restaurant.distance}} km
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <!-- <nav class="bar bar-tab">
      <a class="tab-item active" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-star-filled"></span>
        <span class="tab-label">Favoritos</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-list"></span>
        <span class="tab-label">Utilidades</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">Eu</span>
      </a>
    </nav> -->
    <!-- main container end -->
