    <header class="bar bar-nav">
      <button class="btn btn-link btn-nav pull-left" ng-click="back()">
        <span class="icon icon-left-nav"></span>
      </button>
      <a class="logo pull-left"></a>
      <h1 class="title">{{getTitle()}}</h1>
      <div class="pull-right">
        <a class="icon icon-search" ng-click="goSearch()"></a>
        &nbsp;
        <button class="btn btn-link btn-nav" ng-click="goList()">
          <span class="icon icon-list"></span>
        </button>
      </div>
    </header>

    
    <section id="content_map" class="content">
      <div id="map_canvas">
      </div>
    </section>

    <section id="content_map_info">
      <ul ng-show="restaurant" class="table-view">
        <li class="table-view-cell media">
          <a class="navigate-right" ng-click="goDetails(restaurant)">
            <img class="media-object pull-left" ng-src="{{restaurant.photoUrl}}" width="75" height="60">
            <div class="media-body">
              {{restaurant.name}}
              <p>{{restaurant.specialty}}</p>
              <p ng-show="user.lat">
                <span class="icon icon-google-maps"></span>
                {{restaurant.distance}} km
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <!-- main container end -->
