    <header class="bar bar-nav">
      <button class="btn btn-link btn-nav pull-left" ng-click="back()">
        <span class="icon icon-left-nav"></span>
      </button>
      <h1 class="title">Restaurant</h1>
    </header>

    <!-- standard bar fixed below top bar -->
    <div class="bar bar-standard bar-header-secondary">
      <h2 class="subtitle">{{restaurant.name}}</h2>
    </div>

    <section id="informations" class="content">
      <section id="description">
        <img id="place" src="img/gulagulaphoto.gif" alt="Place photo">
        <p class="details">{{restaurant.description}}</p>
      </section>
      <section id="location">
        <a class="section-title">
          <h2>Location</h2>
          <p>7.5 km from your location</p>
        </a>
        <img id="map" src="img/gulagulamaps.gif" alt="Map location">
        <p class="details">{{restaurant.getFullAddress()}}</p>
        <p class="details">{{restaurant.phone}} - {{restaurant.homepage}}</p>
        <p class="details">{{restaurant.openHours}}</p>
      </section>
      <section id="menu">
        <a class="section-title">
          <h2>Menu</h2>
        </a>
        <ul class="table-view">
          <li class="table-view-divider">Entrees / Entradas</li>
          <li class="table-view-cell media">
            <a>
              <!-- images size from http://placehold.it/60x60 -->
              <img class="media-object pull-left" src="img/Mousse-salgada.jpg" width="75" height="60">
              <div class="media-body">
                Salt mousse
                <p>Leek and gorgonzola (accompanying basket of toast)</p>
                <p class="price">R$ 16,00</p>
              </br>
                Mousse salgada
                <p>Alho-poró e gorgonzola (acompanha cesta de torradas)</p>
              </div>
            </a>
          </li>
          <li class="table-view-divider">Salads / Saladas</li>
          <li class="table-view-cell media">
            <a>
              <img class="media-object pull-left" src="img/Caesar-frango.jpg" width="75" height="60">
              <div class="media-body">
                Caesar salad with chicken
                <p>Silvers of grilled chicken, romaine, croutons and parmesan with traditional sauce</p>
                <p class="price">R$ 35,00</p>
              </br>
                Caesar com frango
                <p>Fatias de frango grelhado, alface, croutons e parmesão com molho tradicional</p>
              </div>
            </a>
          </li>
          <li class="table-view-divider">Pastas / Massas</li>
          <li class="table-view-cell media">
            <a>
              <img class="media-object pull-left" src="img/Tomate-manjericao.jpg" width="75" height="60">
              <div class="media-body">
                Tomato and basil
                <p class="price">R$ 25,00</p>
              </br>
                Tomate e manjericão
              </div>
            </a>
          </li>
          <li class="table-view-divider">Grill / Grelhados</li>
          <li class="table-view-cell media">
            <a>
              <img class="media-object pull-left" src="img/Salmon.jpg" width="75" height="60">
              <div class="media-body">
                Salmon
                <p class="price">R$ 30,00</p>
              </br>
                Salmão
              </div>
            </a>
          </li>
          <li class="table-view-divider">Desserts / Sobremesas</li>
          <li class="table-view-cell media">
            <a>
              <img class="media-object pull-left" src="img/Rocambole-chocolate.jpg" width="75" height="60">
              <div class="media-body">
                Chocolate rolled cake with dulce de leche
                <p class="price">R$ 10,00</p>
              </br>
                Rocambole de chocolate com doce de leite
              </div>
            </a>
          </li>
          <li class="table-view-divider">Beverages / Bebidas</li>
          <li class="table-view-cell media">
            <a>
              <img class="media-object pull-left" src="img/Bacardi-Mojito.jpg" width="75" height="60">
              <div class="media-body">
                Bacardi Mojito
                <p class="price">R$ 13,00</p>
              </br>
                Bacardi Mojito
              </div>
            </a>
          </li>
        </ul>
      </section>
    </section>

    <nav class="bar bar-tab">
      <a class="tab-item active" ng-click="back()">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-star-filled"></span>
        <span class="tab-label">Favoritos</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-list"></span>
        <span class="tab-label">Utilidades</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">Eu</span>
      </a>
    </nav>
    <!-- main container end -->
     
